/* COLORS */
.root {
	-palette-dark-gray: #020202;
	-palette-gray: #111111;
	-palette-light-gray: #333333;
	
	-palette-dark-red: #a00b27;
	-palette-red: #ff1031;
	-palette-light-red: #ff1031;
	
	-palette-light-orange: #ffbf33;
	-palette-orange: #ff9a00;
	-palette-dark-orange: #c66d00;
	
	-palette-light-yellow: #ffffb2;
	-palette-yellow: #ffff96;
	-palette-dark-yellow: #e6e682;
	
	-palette-light-green: #7ad861;
	-palette-green: #55c538;
	-palette-dark-green: #3a882d;
	
	-palette-light-blue: #36b3ff;
	-palette-blue: #1199ff;
	-palette-dark-blue: #0e77cc;
}

/* Loading Pane */
.loading-pane {
    -fx-background-color: radial-gradient(center 50% 50%, radius 65%, -palette-gray, -palette-dark-gray);
    -fx-border-color: -palette-dark-gray;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.loading-pane .child {
    -fx-padding: 10px;
}

/* Loading Bar */
.loading-bar .bar {
	-fx-background-color: linear-gradient(to bottom, -palette-dark-red, -palette-light-red, -palette-dark-red);
}

.loading-bar .track {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-gray, -palette-light-gray, -palette-dark-gray);
    -fx-border-color: -palette-dark-gray;
    -fx-border-width: 4px;
}

.loading-bar .text {
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-light-gray;
    -fx-font-size: 12px;
}

/* Loading Label */
.loading-label {
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-light-gray;
    -fx-font-size: 12px;
}

/* Title */
.game-title {
    -fx-font-weight: bold;
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-yellow;
    -fx-font-size: 64px;
    -fx-effect: dropshadow(gaussian, -palette-gray, 5, 5, 0, 0);
    -fx-alignment: center;
}

/* Version */
.game-Version {
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-red;
    -fx-font-size: 18px;
    -fx-effect: dropshadow(gaussian, -palette-gray, 3, 3, 0, 0);
    -fx-alignment: center; 
}

/* Buttons */
.button-green {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-green, -palette-light-green, -palette-dark-green);
    -fx-text-fill: -palette-gray;
    -fx-font-size: 18px;
    -fx-pref-width: 180px;
    -fx-pref-height: 40px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-font-family: "Hardpixel";
    -fx-border-color: -palette-gray;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.button-green:hover {
    -fx-background-color: linear-gradient(to bottom, -palette-light-green, -palette-dark-green, -palette-light-green);
    -fx-text-fill: -palette-yellow;
    -fx-border-color: -palette-yellow;
}

.button-green:pressed {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-green, -palette-light-green, -palette-dark-green);
    -fx-text-fill: -palette-red;
    -fx-border-color: -palette-gray;
}

.button-yellow {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-yellow, -palette-light-yellow, -palette-dark-yellow);
    -fx-text-fill: -palette-gray;
    -fx-font-size: 18px;
    -fx-pref-width: 180px;
    -fx-pref-height: 40px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-font-family: "Hardpixel";
    -fx-border-color: -palette-gray;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.button-yellow:hover {
    -fx-background-color: linear-gradient(to bottom, -palette-light-yellow, -palette-dark-yellow, -palette-light-yellow);
    -fx-text-fill: -palette-yellow;
    -fx-border-color: -palette-yellow;
}

.button-yellow:pressed {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-yellow, -palette-light-yellow, -palette-dark-yellow);
    -fx-text-fill: -palette-red;
    -fx-border-color: -palette-gray;
}

.button-orange {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-orange, -palette-light-orange, -palette-dark-orange);
    -fx-text-fill: -palette-gray;
    -fx-font-size: 18px;
    -fx-pref-width: 180px;
    -fx-pref-height: 40px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-font-family: "Hardpixel";
    -fx-border-color: -palette-gray;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.button-orange:hover {
    -fx-background-color: linear-gradient(to bottom, -palette-light-orange, -palette-dark-orange, -palette-light-orange);
    -fx-text-fill: -palette-yellow;
    -fx-border-color: -palette-yellow;
}

.button-orange:pressed {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-orange, -palette-light-orange, -palette-dark-orange);
    -fx-text-fill: -palette-red;
    -fx-border-color: -palette-gray;
}

.button-blue {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-blue, -palette-light-blue, -palette-dark-blue);
    -fx-text-fill: -palette-gray;
    -fx-font-size: 18px;
    -fx-pref-width: 180px;
    -fx-pref-height: 40px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-font-family: "Hardpixel";
    -fx-border-color: -palette-gray;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.button-blue:hover {
    -fx-background-color: linear-gradient(to bottom, -palette-light-blue, -palette-dark-blue, -palette-light-blue);
    -fx-text-fill: -palette-yellow;
    -fx-border-color: -palette-yellow;
}

.button-blue:pressed {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-blue, -palette-light-blue, -palette-dark-blue);
    -fx-text-fill: -palette-red;
    -fx-border-color: -palette-gray;
}

.button-red {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-red, -palette-light-red, -palette-dark-red);
    -fx-text-fill: -palette-gray;
    -fx-font-size: 18px;
    -fx-pref-width: 180px;
    -fx-pref-height: 40px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-font-family: "Hardpixel";
    -fx-border-color: -palette-gray;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.button-red:hover {
    -fx-background-color: linear-gradient(to bottom, -palette-light-red, -palette-dark-red, -palette-light-red);
    -fx-text-fill: -palette-yellow;
    -fx-border-color: -palette-yellow;
}

.button-red:pressed {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-red, -palette-light-red, -palette-dark-red);
    -fx-text-fill: -palette-red;
    -fx-border-color: -palette-gray;
}

.button-gray {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-gray, -palette-light-gray, -palette-dark-gray);
    -fx-text-fill: -palette-gray;
    -fx-font-size: 18px;
    -fx-pref-width: 180px;
    -fx-pref-height: 40px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-font-family: "Hardpixel";
    -fx-border-color: -palette-gray;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.button-gray:hover {
    -fx-background-color: linear-gradient(to bottom, -palette-light-gray, -palette-dark-gray, -palette-light-gray);
    -fx-text-fill: -palette-yellow;
    -fx-border-color: -palette-yellow;
}

.button-gray:pressed {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-gray, -palette-light-gray, -palette-dark-gray);
    -fx-text-fill: -palette-red;
    -fx-border-color: -palette-gray;
}


/* GUI Label Bold */
.gui-label-red-bold {
    -fx-font-weight: bold;
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-red;
    -fx-font-size: 18px;
    -fx-effect: dropshadow(gaussian, -palette-gray, 3, 3, 0, 0);
}

.gui-label-bold {
    -fx-font-weight: bold;
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-yellow;
    -fx-font-size: 18px;
    -fx-effect: dropshadow(gaussian, -palette-gray, 3, 3, 0, 0);
}

/* GUI Label */
.gui-label {
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-yellow;
    -fx-font-size: 18px;
    -fx-effect: dropshadow(gaussian, -palette-gray, 3, 3, 0, 0);
}

/* GUI Label Small Bold */
.gui-label-small-bold {
    -fx-font-weight: bold;
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-yellow;
    -fx-font-size: 12px;
    -fx-effect: dropshadow(gaussian, -palette-gray, 3, 3, 0, 0);
}

/* GUI Label Small*/
.gui-label-small {
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-yellow;
    -fx-font-size: 12px;
    -fx-effect: dropshadow(gaussian, -palette-gray, 3, 3, 0, 0);
}

/* Text Label */
.text-label {
    -fx-font-family: "Hardpixel";
    -fx-fill: -palette-yellow;
    -fx-font-size: 12px;
    -fx-effect: dropshadow(gaussian, -palette-gray, 2, 2, 0, 0);
}

/* Text Label Green*/
.text-label-green {
    -fx-font-family: "Hardpixel";
    -fx-fill: -palette-green;
    -fx-font-size: 12px;
    -fx-effect: dropshadow(gaussian, -palette-gray, 2, 2, 0, 0);
}

/* Text Label Red*/
.text-label-red {
    -fx-font-family: "Hardpixel";
    -fx-fill: -palette-red;
    -fx-font-size: 12px;
    -fx-effect: dropshadow(gaussian, -palette-gray, 2, 2, 0, 0);
}

/* Text Label Blue*/
.text-label-blue {
    -fx-font-family: "Hardpixel";
    -fx-fill: -palette-blue;
    -fx-font-size: 12px;
    -fx-effect: dropshadow(gaussian, -palette-gray, 2, 2, 0, 0);
}

.image-button-box {
	-fx-background-color: radial-gradient(center 50% 50%, radius 65%, -palette-light-gray, -palette-dark-gray);
	-fx-border-color: -palette-dark-gray;
    -fx-border-width: 4px;
	-fx-padding: 20px;
}

.image-button-box:hover {
	-fx-border-color: -palette-yellow;
    -fx-border-width: 4px;
}

.image-button-box:pressed {
	-fx-border-color: -palette-red;
    -fx-border-width: 4px;
}

.image-button-box-selected {
	-fx-background-color: radial-gradient(center 50% 50%, radius 65%, -palette-light-green, -palette-dark-green);
	-fx-border-color: -palette-green;
    -fx-border-width: 4px;
	-fx-padding: 20px;
}

/* LifeBar */
.life-bar .bar {
	-fx-background-color: linear-gradient(to bottom, -palette-dark-green, -palette-light-green, -palette-dark-green);
}

.life-bar .track {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-gray, -palette-light-gray, -palette-dark-gray);
    -fx-border-color: -palette-dark-gray;
    -fx-border-width: 4px;
}

/* EnergyBar */
.energy-bar .bar {
	-fx-background-color: linear-gradient(to bottom, -palette-dark-orange, -palette-light-orange, -palette-dark-orange);
}

.energy-bar .track {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-gray, -palette-light-gray, -palette-dark-gray);
    -fx-border-color: -palette-dark-gray;
    -fx-border-width: 4px;
}

/* EnergyBar */
.exp-bar .bar {
	-fx-background-color: linear-gradient(to bottom, -palette-dark-blue, -palette-light-blue, -palette-dark-blue);
}

.exp-bar .track {
    -fx-background-color: linear-gradient(to bottom, -palette-dark-gray, -palette-light-gray, -palette-dark-gray);
    -fx-border-color: -palette-dark-gray;
    -fx-border-width: 4px;
}

/* Tabs */
.settings-pane {
	-fx-border-color: transparent;
	-fx-border-width: 0px;
}

.settings-pane .tab-header-background {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
	-fx-border-width: 0px;
}

.settings-pane .tab-header-area {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
	-fx-border-width: 0px;
}

.settings-pane .tab-header-area .tab {
    -fx-border-color: transparent transparent -palette-yellow transparent;
    -fx-border-width: 0 0 3px 0;
    -fx-background-color: transparent;
    -fx-padding: 12px 12px;
}

.settings-pane .tab-header-area .tab .tab-label {
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-yellow;
    -fx-font-size: 18px;
    -fx-effect: dropshadow(gaussian, -palette-gray, 3, 3, 0, 0);
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

.settings-pane .tab-header-area .tab:hover .tab-label {
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-blue;
    -fx-font-size: 18px;
    -fx-effect: dropshadow(gaussian, -palette-gray, 3, 3, 0, 0);
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

.settings-pane .tab-header-area .tab:selected .tab-label {
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-green;
    -fx-font-size: 18px;
    -fx-effect: dropshadow(gaussian, -palette-gray, 3, 3, 0, 0);
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}


.settings-pane .tab-header-area .tab:selected .tab-container {
    -fx-background-insets: 0;
}

.settings-pane .tab-header-area .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

/* ComboBox */
.combo-box {
    -fx-background-color: -palette-light-gray;
    -fx-background-radius: 5px;
    -fx-border-color: -palette-gray;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-yellow;
    -fx-font-size: 18px;
}

.combo-box:hover {
    -fx-border-color: -palette-blue;
}

.combo-box:pressed {
    -fx-border-color: -palette-yellow;
}

.combo-box .text-field {
    -fx-background-color: -palette-light-gray;
    -fx-background-radius: 0;
    -fx-border-color: -palette-gray;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 4px;
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-blue;
    -fx-font-size: 18px;
}

.combo-box .list-view {
    -fx-background-color: -palette-light-gray;
    -fx-background-insets: 0;
    -fx-padding: 4px;
    -fx-border-color: -palette-gray;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.combo-box .list-cell {
    -fx-padding: 4px;
    -fx-background-color: -palette-light-gray;
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-yellow;
    -fx-font-size: 18px;
}

.combo-box .list-cell:hover {
	-fx-padding: 4px;
    -fx-background-color: -palette-gray;
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-blue;
    -fx-font-size: 18px;
}

.combo-box .list-cell:selected {
	-fx-padding: 4px;
    -fx-background-color: -palette-gray;
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-green;
    -fx-font-size: 18px;
}

.combo-box .arrow-button {
    -fx-background-color: -palette-yellow;
    -fx-border-width: 0px;
}

.combo-box .arrow-button:hover {
    -fx-background-color: -palette-blue;
    -fx-border-width: 0px;
}

.combo-box .arrow-button:pressed {
    -fx-background-color: -palette-green;
    -fx-border-width: 0px;
}

/* Checkbox */
.check-box {
	-fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-font-family: "Hardpixel";
    -fx-font-size: 18px;
    -fx-text-fill: -palette-yellow;
}

.check-box .box {
	-fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-border-color: -palette-yellow;
    -fx-border-width: 2px;
    -fx-background-color: -palette-gray;
    -fx-background-radius: 5px;
    -fx-fill: -palette-yellow;
}

.check-box .box:hover {
    -fx-border-color: -palette-blue;
}

.check-box .box:selected {
    -fx-border-color: -palette-green;
}

.check-box .box:pressed {
    -fx-border-color: -palette-yellow;
}

.check-box > .box > .mark {
    -fx-background-color: -palette-gray;
}

.check-box:hover > .box > .mark {
    -fx-background-color: -palette-blue;
}

.check-box:pressed > .box > .mark {
    -fx-background-color: -palette-yellow;
}

.check-box:selected > .box > .mark {
    -fx-background-color: -palette-green;
}

/* Slider */
.slider .track {
    -fx-background-color: -palette-light-gray;
    -fx-border-color: -palette-dark-gray;
    -fx-border-width: 2px;
}

.slider .thumb {
    -fx-background-color: -palette-green;
    -fx-background-radius: 5px;
    -fx-border-color: -palette-dark-gray;
    -fx-border-width: 2px;
}

.slider .thumb:hover {
    -fx-background-color: -palette-yellow;
}

.slider .thumb:pressed {
    -fx-background-color: -palette-red;
}

.slider .thumb:hover:pressed {
    -fx-background-color: -palette-red;
}

.slider .track-background {
    -fx-background-color: -palette-light-gray;
}

.slider .track-background:hover {
    -fx-background-color: -palette-yellow;
}

.slider .track-background:pressed {
    -fx-background-color: -palette-red;
}

.slider .value-label {
    -fx-background-color: -palette-dark-gray;
    -fx-text-fill: -palette-light-gray;
    -fx-font-family: "Hardpixel";
    -fx-font-size: 12px;
    -fx-padding: 2px 5px;
    -fx-background-radius: 5px;
}

/* Slider Tick Marks */
.slider .axis .tick-mark {
    -fx-stroke: -palette-gray;
    -fx-stroke-width: 1px;
    -fx-pref-height: 8px;
}

.slider .axis .tick-label {
    -fx-font-family: "Hardpixel";
    -fx-text-fill: -palette-yellow;
    -fx-font-size: 12px;
}

.slider .axis .minor-tick-mark {
    -fx-stroke: -palette-light-gray;
    -fx-stroke-width: 1px;
    -fx-pref-height: 4px;
}

/* Menu Box */
.menu-box {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}
